nav(ng-controller="NavCtrl" class="navbar navbar-toggleable bg-faded container")
	a(class="navbar-brand" href="#") Navbar
	div(class="collapse navbar-collapse" id="navbarSupportedContent")
		ul(class="navbar-nav mr-auto nav")
			li(class="nav-item")
				a(class="nav-link" ng-click="go('layout.home')") Home
			li(class="nav-item")
				a(class="nav-link" ng-click="go('layout.games')") Games
			li(class="nav-item")
				a(class="nav-link") Request a Game
			li(class="nav-item")
				a(class="nav-link") About
			li(class="nav-item")
				a(class="nav-link") Blog
